@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');

.homepage {
  font-family: 'Prompt', sans-serif;
  font-size: xx-large;
}

.font-thai{
  font-family: 'Prompt', sans-serif;
}

.animation{
  font-family: 'Prompt', sans-serif;
}